{% extends 'base.html' %}
{% load static %}


{% block content %}
<!--    من مست و تو دیوانه مارا کی برد خانه
        صد بار تو را گفتم کم زن دو سه پیمانه
        در شهر یکی کس را هوشیار نمی بینم
        هر یک بدتر از دیگر شوریده و دوانه 
        از خانه برون رفتم مستی به پیش آمد
        در هر نظرش مضمر صد گلشن و کاشانه 
        چون کشتی بی لنگر کج میشد و مژ میشد
        وز حسرت او مرده صد عاقل و فرزانه
        گفتم:زکجایی تو تسخر زدو گفت!ای جان
        نیمیم ز ترکستان و نیمیم ز فرغانهف6

-->
<!-- Open Content -->
<section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-2">
                <div class="card mb-3">
                    <img class="card-img img-content m-2 " style="width: inherit;max-height: inherit;"
                        src="{{product.pr_photo.url}}" alt="Card image cap" id="product-detail">
                </div>
                <!-- تصویر -->
                <div class="row">
                    <!--Start Controls-->
                    <div class="col-1 align-self-center">
                        <a href="#multi-item-example" role="button" data-bs-slide="next">
                            <i class="text-dark fas fa-chevron-right"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!--End Controls-->
                    <!--Start Carousel Wrapper-->
                    <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item"
                        data-bs-ride="carousel">
                        <!--Start Slides-->
                        <div class="carousel-inner product-links-wap" role="listbox">
                            <!--First slide-->
                            {% for img in group_galary %}
                            <div class="carousel-item{% if forloop.first %} active {% endif %}">
                                <div class="row">
                                    {% for item in img %}
                                    <div class="col-4">
                                        <a href="#">
                                            <img class="card-img img-fluid" style="height: 150px;width: 150px;"
                                                src="{{ item.image.url }}" alt="Product Image 1">
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                            <!--/.First slide-->
                        </div>
                        <!--End Slides-->
                    </div>
                    <!--End Carousel Wrapper-->
                    <!--Start Controls-->
                    <div class="col-1 align-self-center">
                        <a href="#multi-item-example" role="button" data-bs-slide="prev">
                            <i class="text-dark fas fa-chevron-left"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                    </div>
                    <!--End Controls-->
                </div>
                <!-- آخر -->
            </div>
            <!-- col end -->
            <div class="col-lg-7 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h2">{{product.pr_name}}</h1>
                        {% if product.pr_is_sale %}
                        <del><span class="h3 py-2">{{product.pr_price}}</span></del>
                        <p class="h3 py-2">{{product.pr_sale_price}}</p>
                        {% else %}
                        <span class="h3 py-2">{{product.pr_price}}</span>
                        {% endif %}
                        <p class="py-2">
                            {% with ''|center:product.star as range %}
                            {% for _ in range %}
                            <i class="text-warning fa fa-star"></i>
                            {% endfor %}
                            {% endwith%}
                            <span class="list-inline-item text-dark">Rating 4.8 | 36 Comments</span>
                        </p>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                {% for brand in brands %}
                                <h6>Brand:{{brand.brand_name}}</h6>
                                {% endfor %}
                                <h6>Brand:{{product.pr_color}}</h6>
                            </li>
                            <li class="list-inline-item">
                                <p class="text-muted"><strong>Easy Wear</strong></p>
                            </li>
                        </ul>

                        <h6>Description:</h6>
                        <p>{{product.pr_discription}}</p>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h6>Avaliable Color :</h6>
                            </li>
                            <li class="list-inline-item">
                                <p class="text-muted"><strong>White / Black</strong></p>
                            </li>
                        </ul>

                        <h6>Specification:</h6>
                        <ul class="list-unstyled pb-3">
                            <li>Lorem ipsum dolor sit</li>
                            <li>Amet, consectetur</li>
                            <li>Adipiscing elit,set</li>
                            <li>Duis aute irure</li>
                            <li>Ut enim ad minim</li>
                            <li>Dolore magna aliqua</li>
                            <li>Excepteur sint</li>
                        </ul>

                        <form method="GET">
                            {% csrf_token %}
                            {{order_form.product_id}}
                            <div class="row">
                                <div class="col-auto">
                                    <ul class="list-inline pb-3">
                                        <li class="list-inline-item">سایز :
                                            <input type="hidden" name="product_size" id="product_size" value="S">
                                        </li>
                                        <li class="list-inline-item"><span class="btn btn-success btn-size">S</span>
                                        </li>
                                        <li class="list-inline-item"><span class="btn btn-success btn-size">M</span>
                                        </li>
                                        <li class="list-inline-item"><span class="btn btn-success btn-size">L</span>
                                        </li>
                                        <li class="list-inline-item"><span class="btn btn-success btn-size">XL</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-auto">
                                    <ul class="list-inline pb-3">
                                        <li class="list-inline-item text-right">
                                            Quantity
                                            <input type="hidden" name="product-quanity" id="product-quantity" value="1">
                                        </li>
                                        <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span></li>
                                        <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">1</span></li>
                                        <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row pb-3">
                                <div class="col d-grid">
                                    <button type="submit" class="btn btn-success btn-lg" name="submit"
                                        value="buy">Buy</button>
                                </div>
                                <div class="col d-grid">
                                    <button type="submit" class="btn btn-success btn-lg" name="submit"
                                        value="addtocard" id="add_product_cart">افزودن به سبد</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- محصولات مرتبط -->
        <div class="row">
            <h2>محصولات مرتبط</h2>
            <hr>
            {% for related in related %}
            {% if related.pr_is_sale%}
            <div class="col-md-2 col-6 px-1">
                <div class="card mb-4 product-wap rounded-0">
                    <div class="card rounded-0">
                        <div class="badge text-danger position-absolute"
                            style="top: 0.5rem;right: 0.5rem; width: fit-content; opacity: 60%; border-radius: 10px; background-color: darkgray;">
                            تخفیف ویژه</div>
                        <div class="image">
                            <img class="related-img rounded-0 img-fluid" src="{{related.pr_photo.url}}">
                        </div>
                        <div
                            class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                            <ul class="list-unstyled">
                                <li><a class="btn btn-success text-white" href="#"><i class="far fa-heart"></i></a>
                                </li>
                                <li><a class="btn btn-success text-white mt-2" href="#"><i
                                            class="fas fa-cart-plus"></i></a></li>
                                <li><a class="btn btn-success text-white mt-2" href="{% url 'pr' related.id %}"><i
                                            class="far fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="shop-single.html" class="h3 text-decoration-none">{{related.pr_name}}</a>
                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                            <li>{{related.pr_size}}</li>
                        </ul>
                        <ul class="list-unstyled d-flex justify-content-center mb-1">
                            <li>
                                {% with ''|center:related.star as range %}
                                {% for _ in range %}
                                <i class="text-warning fa fa-star"></i>
                                {% endfor %}
                                {% endwith%}
                            </li>
                        </ul>
                        <div class=" price">
                            <strike>
                                <p class="price mb-0">{{related.pr_price}}افغانی</p>
                            </strike>
                            <p class="price mb-0">-{{related.pr_sale_price}}افغانی</p>
                        </div>
                    </div>
                </div>
            </div>

            {% else %}
            <div class="col-md-2 col-6 px-1">
                <div class="card mb-4 product-wap rounded-0">
                    <div class="card rounded-0">
                        <div class="image">
                            <img class="related-img rounded-0 img-fluid" src="{{related.pr_photo.url}}">
                        </div>
                        <div
                            class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                            <ul class="list-unstyled">
                                <li><a class="btn btn-success text-white" href="#"><i class="far fa-heart"></i></a>
                                </li>
                                <li><a class="btn btn-success text-white mt-2" href="#"><i
                                            class="fas fa-cart-plus"></i></a></li>
                                <li><a class="btn btn-success text-white mt-2" href="{% url 'pr' related.id %}"><i
                                            class="far fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="shop-single.html" class="h3 text-decoration-none">{{related.pr_name}}</a>
                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                            <li>{{related.pr_size}}</li>
                        </ul>
                        <ul class="list-unstyled d-flex justify-content-center mb-1">
                            <li>
                                {% with ''|center:related.star as range %}
                                {% for _ in range %}
                                <i class="text-warning fa fa-star"></i>
                                {% endfor %}
                                {% endwith%}
                            </li>
                        </ul>
                        <p class="text-center mb-0">{{related.pr_price}}افغانی</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- Close Content -->

{% endblock %}